{% load static %}

<link rel="stylesheet" href="{% static 'mobileWeb/css/base/base.css' %}">
<link rel="stylesheet" href="{% static 'mobileWeb/css/common/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileWeb/css/common/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileWeb/css/common/footer.css' %}">

<style>
    html {
        width: 100%;
    }

    body {
        margin: auto;
    }

    .children {
        border-radius: 10px;
        border: 1px solid black;
    }

    .list {
        width: 50%;
    }
</style>

{% include 'mobileWeb/inc/common/docType.html' %}
<html>
<head>
    {% include 'mobileWeb/inc/common/meta.html' %}
    <title>나비반 우체통</title>
    {% include 'mobileWeb/inc/common/scriptInclude.html' %}

</head>
<body>
<div class="wrapper">


    <div class="container">
        <div class="row row-header">
            <div class="col-2 padding-false text-center align-self-center">
                <a href="nabiMailbox">
                    <i class="fas fa-home fa-lg"></i>
                </a>
            </div>
            <div class="col-8 text-center align-self-center">
                <h3 style="color:purple;">나비반 우체통</h3>
            </div>
            <div class="col-2 padding-false text-center align-self-center">
                <a href="#">
                    <i class="fas fa-bars fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <img src="/static/mobileWeb/images/nabiMailbox/child1.png" alt="" class="children">
        송대한의 우체통
        <div style="align:center">
            <video name='demo' playsinline controls="true" width='50%' height='40%'>
                <source src="/static/mobileWeb/images/nabiMailbox/1.mp4" type="video/mp4"></source>
            </video>

        </div>

    </div>

    <div class="container">
        <div class="row row-footer" style="font-size: 9px;">
            <div class="col-6 text-center">
                <h5><i class="fas fa-info-circle font-title"></i>&nbsp;나비반 우체통</h5>
                <span class="smaller font-context">1) 유아 선택</span><br>
                <span class="smaller font-context">2) 메세지 전송 수단 선택</span><br>
                <span class="smaller font-context">3) 메세지 보내기</span>
            </div>
            <div class="col-6 contact text-center">
                <h5><i class="far fa-envelope-open font-title"></i>&nbsp;CONTACT</h5>
                <span class="phone font-context">연세대학교 교육대학원<br>이슬기</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>

