.map {
    width: 80%;
    height: 300px;
    margin: 20px auto;
    border-radius: 10px;
}

.container-index {
    width: 90%;
    margin: auto
}

.row-marts{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.title-mart {
    width: 100%;
    background-color: #f6d2c3;
    color: #5f3079;
    font-size: 110%;
    padding-top: 8px;
}

.image-mart {
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.container-item{
    margin-bottom: 10px;
}

.title-item{
    font-size : 110%;
    color:#262626;
}

.item-discount-price{
    font-size: 80%;
}

.ratio{
    font-size : 70%;
    color:#f15733;
}

.image-mart{
    width:100%
}

.container-item-list{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container-item-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.comment{
    max-width: 350px;
    word-break: normal;
    word-wrap: break-word;
}

.btn-add-comment{
    border-radius: 15px;
    border: 0px;
    background-color: #fffcf2;
    color: #93cf8a;
}


.map-div{
    padding:5px;
}