{% extends 'mobileWeb/inc/base/base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
    {% include 'mobileWeb/inc/userPages/index/index.html' %}

    <div id="map" class="map"></div>

    <div class="container-index">
        <!-- this row will wrapping foreach-->

        {% for mart in marts %}
            <div class="row row-marts">
                <span onclick="martClick('{{ mart.xPosition }}', '{{ mart.yPosition }}')"
                    class="title-mart text-center font-title">{{ mart.name }}</span>
                <div class="row">
                    <div class="col-6">
                        {% with "/mobileWeb/images/"|add:mart.imageFileNo|add:".png" as path %}
                            <img src="{% static path %}" class="img-thumbnail"
                                 onclick="martClick('{{ mart.xPosition }}', '{{ mart.yPosition }}')">
                        {% endwith %}

                        <h6>{{ mart.martInfo }}</h6>
                    </div>
                    <div class="col-6 container-item-list" onClick="martDetail('{{ mart.id }}')">
                        {% for item in items %}
                            {% if mart.id == item.mart %}
                                <div class="container-item">
                                    <span class="title-item font-subtitle">{{ item.name }}</span><br>
                                    {% if item.discountPrice <= 200 %}
                                        <span class="ratio font-context">
                                                {{ item.originalPrice|sub:item.discountPrice|div:item.originalPrice|mul:100|floatformat:"0" }}% 할인
                                            </span>
                                    {% else %}
                                        <span class="item-discount-price font-context">{{ item.discountPrice }}원</span>
                                        <span class="ratio font-context">
                                                {{ item.originalPrice|sub:item.discountPrice|div:item.originalPrice|mul:100|floatformat:"0" }}% 할인
                                            </span>
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

                <div class="col-12">
                    {% for martComment in mart.martcomment %}
                        <div class="comment font-context">
                            -{{ martComment.comment }}<br>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn-add-comment font-point" onClick="addComment('{{ mart.id }}')">코멘트를 달아주세요</button>
            </div>
        {% endfor %}


    </div>

{% endblock %}
