/*font-title*/
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-subtitle*/
@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-context*/
@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-point*/
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

html {
    background: #222222;
    /*display: table;*/
    margin: auto;
}

body {
    max-width: 500px;
    vertical-align: middle;
}

.padding-false {
    padding: 0 !important
}

.align-self-center {
    align-self: center;
}

.title-mart {
    width: 100%;
    background-color: #f6d2c3;
    color: #5f3079;
}

/*fonts*/
.font-title {
    font-family: Recipekorea;
}

.font-subtitle {
    font-family: MapoPeacefull;
}

.font-context {
    font-family: BBTreeGL;
}

.font-point {
    font-family: Cafe24Danjunghae;
}