.mart-name{

}

.image-item{
    width: 80%;
}

.item-name{
    font-size: 120%;
    color: #f15733;
    border : 1px dashed #5f3079;
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
}

.item-original-price{
    color: #cccccc;
}

.item-discount-price{
    color: #000000;
    font-size: 90%
}

.item-discount-ratio{
    color: #f15733;
    font-size: 80%;
}

.item-expiration-date{
    font-size: 90%;
}