{% load static %}

<!-- outter module-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159115722-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-159115722-1');
</script>

<!-- kakao map -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2a40b9e58744cbe7d0cb367e51c07eb4"></script>


<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'mobileWeb/css/index/index.css' %}">

<!--js-->
{% include 'mobileWeb/js/index/index.html' %}